.nav {
	padding: s(4) 0 s(12);
	position: relative;
	z-index: 10;
	&__container {
		border-bottom: 1px solid rgba($color-dark, 0.25);
		padding-bottom: s(0.5);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		position: relative;
		z-index: 5;
	}
	&__icon {
		width: 2rem;
		height: 1.4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		cursor: pointer;
		position: relative;
		z-index: 5;
		@media screen and (min-width: $from-small) {
			display: none;
		}
		span {
			display: block;
			width: 100%;
			height: 1px;
			background: $color-dark;
		}
	}
	&__menu {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background: $color-white;
		opacity: 0;
		visibility: hidden;
		@media screen and (min-width: $from-small) {
			width: auto;
			height: auto;
			position: static;
			opacity: 1 !important;
			visibility: visible !important;
		}
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			@media screen and (min-width: $from-small) {
				width: 100%;
				flex-direction: row;
			}
			li {
				&:not(:last-of-type) {
					margin-bottom: s(1);
					@media screen and (min-width: $from-small) {
						margin-bottom: 0;
						margin-right: s(2);
					}
				}
			}
		}
	}
}
