.page__transition {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	&__pane {
		width: calc(100% / 3);
		height: 100%;
		display: block;
		transform: scaleY(0);
		transform-origin: bottom;
	}
}
