html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block data
		link(rel="shortcut icon" href="images/static/favicon.png" type="image/png")
	body(data-barba="wrapper" data-scroll-container)
		include nav.pug
		include pageTransition.pug
		block content