nav.nav(data-scroll-sticky)
	.container.nav__container
		a(href="index.html").nav__logo website boilerplate
		.nav__icon
			span
			span
		ul.nav__menu
			.container.nav__menu__container
				- const navItem = { "index": "home", "about": "about" }
				each item, path  in navItem
					li
						a(href=`${path}.html`)= item