nav(data-scroll-section).nav
	.container.nav__container
		a(href="index.html").nav__logo Website Boilerplate
		div.nav__icon
			span
			span
		ul.nav__menu
			.container.nav__menu__container
				- const navItem = { "index": "Home", "about": "About" }
				each item, path  in navItem
					li
						a(href=`${path}.html`)= item