extends includes/layout.pug

block data
	meta(name="description" content="Portfolio of Mathieu Daix, about.")
	title Website Boilerplate - About

block content
	main(data-barba="container" data-barba-namespace="about").demo
		header(data-scroll-section)
			.container
				.demo__title
					h1 about