extends includes/layout.pug

block data
	meta(name="description" content="Portfolio of Mathieu Daix, about.")
	title Website Boilerplate - Homepage

block content
	main(data-barba="container" data-barba-namespace="default")
		header(data-scroll-section)
			.container
				h1 homepage